<!DOCTYPE html>
<html>
    <head>
        <title>Unifide Demo</title>
        {% include "includes/imports.html" %}
    </head>

    <body>
        {% include "includes/navbar.html" %}
        <div class="jumbotron masthead">
            <div class="container">
                <h1>A Unifide Demo</h1>
                <p class="lead">To demonstrate the customisability and cohesion of the Unifide platform</p>
                <p>
                    <a href="mailto:hello@unifide.sg" class="btn btn-primary btn-large">Setup a meeting with us</a>
                </p>
            </div>
        </div>
        <div class="graybox">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            </div>
        </div>

        <div class="container">
            <div class="holder">
                <h1>Campaign Stream.</h1>
                <p class="lead">This is a mashup of the latest 3 campaign items</p>

                <div class="row-fluid">
                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?1" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?2" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?3" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>
                </div>
            </div>

            <hr />

            <div class="holder">
                <h1>Promotions Stream.</h1>
                <p class="lead">This is a stream of the latest 3 promotional campaigns with comments</p>
                <div class="row-fluid">
                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?4" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <table class="comment-holder table-striped table">
                            <tr>
                                <td>
                                    <span class="name">Steven Goh</span>
                                    <span class="comment">This is a comment</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="name">Kian Wei</span>
                                    <span class="comment">This is a reply</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" placeholder="Your comment here.." />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?5" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <table class="comment-holder table-striped table">
                            <tr>
                                <td>
                                    <span class="name">Steven Goh</span>
                                    <span class="comment">This is a comment</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="name">Kian Wei</span>
                                    <span class="comment">This is a reply</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" placeholder="Your comment here.." />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?6" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <table class="comment-holder table-striped table">
                            <tr>
                                <td>
                                    <span class="name">Steven Goh</span>
                                    <span class="comment">This is a comment</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="name">Kian Wei</span>
                                    <span class="comment">This is a reply</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" placeholder="Your comment here.." />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>



            <hr />

            <div class="holder">
                <h1>Events Stream.</h1>
                <p class="lead">This is a stream of campaigns which are 3 events that are happening soon</p>
                <div class="row-fluid">
                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?7" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <p>
                            <button class="btn">I'm going</button>
                        </p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?8" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <p>
                            <button class="btn">I'm going</button>
                        </p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?9" />
                        <h2>Title</h2>
                        <p>Description</p>
                        <p>
                            <button class="btn">I'm going</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            This is a footer
        </footer>
    </body>
</html>
