<!DOCTYPE html>
<html>
    <head>
        <title>Unifide Demo</title>
        {% include "includes/imports.html" %}
    </head>

    <body>
        {% include "includes/navbar.html" %}
        <div class="jumbotron masthead special">
            <div class="container">
                <h1>A Unifide Demo</h1>
                <p class="lead">To demonstrate the customisability and cohesion of the Unifide platform</p>
                <p>
                    <a href="mailto:hello@unifide.sg" class="btn btn-primary btn-large">Setup a meeting with us</a>
                </p>
            </div>
        </div>
        <div class="graybox">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            </div>
        </div>

        <div class="container">
            <div class="holder">
                <h1>Campaign Stream.</h1>
                <p class="lead">This is a mashup of the latest 3 campaign items</p>

                <div class="row-fluid">
                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?1" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?2" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>

                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?3" />
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>
                </div>
            </div>

            <hr />

            <div class="holder">
                <h1>Promotions Stream.</h1>
                <p class="lead">This is a stream of the latest 3 promotional campaigns with comments</p>
                <div class="row-fluid">
                    {% for c in commentable %}
                    <div class="span4">
                        <img src="http://lorempixel.com/300/300/?5" />
                        <h2>{{c.0.title}}</h2>
                        <p>{{c.0.description}}</p>
                        <table class="comment-holder table-striped table">
                            {% for comment in c.1 %}
                            <tr>
                                <td>
                                    <span class="name">{{comment.0}}</span>
                                    <span class="comment">{{comment.1}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <form action="/campaign/comment/{{c.0._id}}/" method="post" class="commentForm">
                                        <input type="text" placeholder="Your comment here.." name="comment" class="commentInput" />
                                        <input type="hidden" name="name" class="commentUserName" />
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                    <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal hide fade" id="comment-modal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" class="close">x</button>
                            <h3 id="myModalLabel">What's your name?</h3>
                        </div>
                        <div class="modal-body">
                            {{comment_name_form|safe}}
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="holder">
                <h1>Events Stream.</h1>
                <p class="lead">This is a stream of campaigns which are 3 events that are happening soon</p>
                <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal hide fade" id="rsvp-modal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" class="close">x</button>
                        <h3 id="myModalLabel">RSVP</h3>
                    </div>
                    <div class="modal-body">
                        {{rsvp_form|safe}}
                    </div>
                </div>
                <div class="row-fluid">
                    {% for event in events%}
                    <div class="span4">
                        <div data-campaign-id="{{event._id}}" class="hidden">&nbsp;</div>
                        <img src="http://lorempixel.com/300/300/?7" />
                        <h2>{{event.title}}</h2>
                        <p>{{event.description}}</p>
                        <p>
                            <a href="#rsvp-modal" role="button" data-toggle="modal" class="btn rsvp-modal">I'm going</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <footer class="footer">
            This is a footer
        </footer>
    </body>
</html>
